langchain==0.3.4
jupyter==1.1.1
langchain-groq==0.2.0
python-dotenv==1.0.1
langserve[all]
langchain-community==0.3.3
langchain-core==0.3.12
langgraph>0.2.27
unstructured==0.16.2
langchain_unstructured==0.1.5
unstructured[pdf]
langchain-huggingface==0.1.0
pydantic==2.9.2
pinecone-client[grpc]
langchain-pinecone==0.2.0
beautifulsoup4==4.12.3
requests==2.32.3
einops==0.8.0
tqdm