<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UsosBot</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/output.css') }}">
</head>
<body class="bg-gray-900 h-screen flex">

    <!-- Sidebar for Chat History -->
    <div id="sidebar" class="w-64 bg-gray-800 text-white flex flex-col p-4 hidden flex">
        <h2 class="text-xl font-bold mb-4">Historia</h2>
        <div class="flex flex-col overflow-y-auto space-y-2">

            {% for caption in captions %}
            <button onclick="window.location.href='/chat/{{caption.thread_id}}';" class="bg-gray-700 p-3 rounded-lg hover:bg-gray-600 focus:outline-none">
                {{caption.caption}}
            </button>
            {% endfor %}

        </div>
    </div>

    <!-- Main Chat Area -->
    <div class="flex flex-col flex-grow bg-gray-900">

        <!-- Toggle Button for Sidebar (visible only on small screens) -->
        <div class="p-4 bg-gray-800 flex justify-between items-center space-x-2">
            <button id="toggleSidebarBtn" class="bg-gray-700 border-2 border-gray-600 text-white px-4 py-2 rounded-lg hover:bg-gray-600">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                </svg>
            </button>
            <p class="text-white text-xl">{{user['name']}}</p>
            <div class="flex space-x-2">
                <img class="rounded-3xl max-w-[50px] max-h-[50px] object-contain" src="{{ user['picture'] }}" title="Logout" onerror="this.onerror=null; this.src='{{ url_for('static', path='icons/user.jpg') }}';">

                <button id="button_logout" class="bg-gray-700 border-2 border-gray-600 text-white px-4 py-2 rounded-lg hover:bg-gray-600">
                <svg id="button_logout" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"/>
                    <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
                </svg>
            </button>


            </div>
        </div>

        <!-- Chat Display Area -->
        <div class="flex-grow p-4 overflow-y-auto" id="chatWindow">
            <!-- Chat messages -->

            {% for message in messages %}
                <div class="mb-4 {% if message.author == 'human' %} text-right{% endif %}">
                    <p class="text-gray-500 text-sm">
                        {% if message.author == "human" %}
                            Ty
                        {% else %}
                            UsosBot
                        {% endif %}
                    </p>
                    <div class="bg-gray-700 p-3 rounded-lg inline-block text-white">
                        {{ message.content }}
                    </div>
                </div>
            {% endfor %}
            <!-- New messages will be added here -->
        </div>

        <!-- Input Area -->
        <div class="pl-1 pr-1 pb-4 bg-gray-900">
            <form class="flex" id="{% if messages %}chatForm{% else %}initChat{% endif %}">
                <input type="text" id="userInput" placeholder="Napisz wiadomość..."
                       class="bg-gray-700 flex-grow p-2 pl-5 pr-5 rounded-3xl focus:outline-none focus:border-none text-white">
                <button type="submit" class="ml-1 bg-gray-700 text-white px-4 py-2 rounded-3xl hover:bg-gray-600">
                    Wyślij
                </button>
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', path='/scripts/chat_script.js') }}"></script>
</body>
</html>
